.app-layout {
  display: flex;
  height: 100vh;
}

.content-Admin{
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .content-Admin {
    margin-left: 0;
  }
}