.app-layout {
  display: flex;
  height: 100vh;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  /*margin-left: 250px;  to clear the fixed sidebar */
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100vh;
  box-sizing: border-box;
}
.content-Admin{
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }
}
